---

import { fade } from 'astro:transitions';

---

<nav>
	<a href="/home"
		><img src="/logo_dg.webp" alt="Logo Don G" width="60px" /></a
	>
	<div>
		<ul>
			<li><a href="/compra">Compra</a></li>
			<li><a href="/inventario">Inventario</a></li>
			<li><a href="/ganancias">Ganancias</a></li>
			<li><a href="/dashboard">Dashboard</a></li>
		</ul>
	</div>
</nav>

<style>
	nav {
		background-color: #1c020c;
		color: #ffffff;
		display: flex;
		width: 100%;
		height: 60px;
		padding: 0 10px;
	}

	nav div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	nav div ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav ul li {
		list-style: none;
		margin: 0 10px;
	}

	nav ul li a {
		text-decoration: none;
		color: #ffffff;
	}

	nav ul li a:hover {
		color: #ffb670;
	}

	nav ul li a:hover {
		color: #ffb670;
	}

	nav ul li a:active {
		color: #ff8300;
	}
</style>
