---
import Layout from '@/layouts/Layout.astro';
import Home from '@/components/home/Home';
import Nav from '@/components/ui/nav.astro';
---

<Layout title="Galleto">
	<Nav/>
	<main class="h-100% w-100% flex">
		<div class="mx-auto my-[2.5rem]">
			<Home client:idle />
		</div>
	</main>
</Layout>

