---
import Layout from '@/layouts/Layout.astro';
import Nav from '@/components/ui/nav.astro';
import {
	Table,
	TableHeader,
	TableBody,
	TableFooter,
	TableHead,
	TableRow,
	TableCell,
	TableCaption,
	ButtonExp
} from '@/components/ui/table';

export interface Inventario {
	id: number;
	nombre: string;
	precio: number;
	stock: number;
}

async function getInventario() {
	const res = await fetch('http://localhost:3001/galletas');
	const inventario = await res.json();
	return inventario as Promise<Inventario[]>;
}

const inventario = await getInventario();
---

<Layout title="Inventario">
	<Nav />
	<main class=" md:mx-4 sm:mx-6">
		<div
			class="sm:my-6 my-6 container bg-secondary/20 rounded-lg p-3 sm:p-4 md:p-6"
		>
			<div class="grid grid-cols-12 w-full sm:grid-cols-12">
				<div class="flex flex-row col-span-3 col-start-6 sm:col-span-6 sm:col-start-6">
					<div class="">
						<p
							class="text-[2rem] font-bold text-[#824000] text-center"
						>
							Inventario
						</p>
					</div>
					<!-- <div class="basis-1/12">
						<a href="/inventario/gestion">
							<Button variant={'secondary'}>Gestión</Button>
						</a>
					</div> -->
				</div>
				<div class="col-start-1 col-span-12">
					<Table id="table_inventario_export">
						<TableHeader>
							<TableRow>
								<TableHead>Galleta</TableHead>
								<TableHead>Cantidad en inventario</TableHead>
								<TableHead>Precio</TableHead>
							</TableRow>
						</TableHeader>
						<TableBody>
							{
								inventario.map(galleta => (
									<TableRow>
										<TableCell>{galleta.nombre}</TableCell>
										<TableCell>{galleta.stock}</TableCell>
										<TableCell>{galleta.precio}</TableCell>
									</TableRow>
								))
							}
						</TableBody>
					</Table>
				</div>

				<!-- <div class="col-start-11 col-span-2 ml-5 flex">
					<div class="row-span-1 my-auto">
						<RadioInventario client:idle />
						<Button className="my-4 w-full ">
							<CircleDollarSign className="me-2" /> Obtener Gasto
						</Button>
						<Button variant={'secondary'} className="w-full">
							<Receipt className="me-2" />Generar recibo
						</Button>
						<a href="/inventario/inventarioProduccion">
							<Button 
								variant={'default'} 
								className='my-4 w-full'
								>
								<Warehouse className='me-2'/> Almacén
							</Button>
						</a>
					</div>
				</div> -->
			</div>
		</div>
	</main>
</Layout>

<!-- Oreo, Plana, Relleno de fresa, Naranja, Relleno de vainilla, Relleno de naranja, Decorada, De helado, De oblea, De chispas -->
