---
import Layout from '@/layouts/Layout.astro';
import Nav from '@/components/ui/nav.astro';
import {
	Table,
	TableHeader,
	TableBody,
	TableFooter,
	TableHead,
	TableRow,
	TableCell,
	TableCaption
	} from '@/components/ui/table';
import {Button} from '@/components/ui/button';
import RadioInventario from '@/components/ui/radiog-inventario';
import {ClipboardList, Calculator} from 'lucide-react';
import {Input} from '@/components/ui/input';
import { Label } from '@/components/ui/label';


---

<Layout title="Utilidad">
	<Nav />
	<main>
		<div class="container bg-secondary/20 border-secondary rounded-lg p-3 my-5">
		
			<div class="grid grid-cols-12">
				<div class="col-start-2 col-span-10">
					<p class="text-[2rem] font-bold text-secondary text-center">Utilidad</p>
				</div>

				<div class="col-start-1 col-span-10">
					<Table>
						<TableHeader>
							<TableRow>
								<TableHead>Galleta</TableHead>
								<TableHead>Cantidad</TableHead>
								<TableHead>Precio Venta</TableHead>
								<TableHead>Costo</TableHead>
							</TableRow>
						</TableHeader>
						<TableBody >
							<TableRow>
								<TableCell>Oreo</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$10.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
							<TableRow>
								<TableCell>Plana</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$10.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
							<TableRow>
								<TableCell>Relleno de fresa</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$10.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
							<TableRow>
								<TableCell>Naranja</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$10.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
							<TableRow>
								<TableCell>Relleno de vainilla</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$10.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
							<TableRow>
								<TableCell>Relleno de naranja</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$10.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
							<TableRow>
								<TableCell>Decorada</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$15.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
							<TableRow>
								<TableCell>De helado</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$10.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
							<TableRow>
								<TableCell>De oblea</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$10.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
							<TableRow>
								<TableCell>De chispas</TableCell>
								<TableCell>100</TableCell>
								<TableCell>$10.00</TableCell>
								<TableCell>$5.00</TableCell>
							</TableRow>
						</TableBody>
					</Table>
				</div>
				<div class="col-start-11 col-span-2 ml-5 flex">
					<div class="row-span-1 my-auto">
						<RadioInventario client:idle/>

						<Button className='my-4 w-full'>
							<ClipboardList className='me-2'/>
							Calcular Utilidad
						</Button>
						<a href="../ganancias" class="flex">
							<Button 
								type="submit" 
								variant={'secondary'} 
								className='w-full'
							> 
								<Calculator className='me-2'/>
								Regresar
							</Button>
						</a>
					</div>
					
				</div>
				<div class="col-start-9 col-span-2">
					<Label className='my-3'>
						Total
					</Label>
					<Input className='my-2' placeholder='Cantidad total'/>
				</div>
				

			</div>
		</div>
	</main>
</Layout>
