---
import Layout from '@/layouts/Layout.astro';
import SelectGalleta from '@/components/ui/select-galleta';
import { RadioGroupForm } from '@/components/compra/Form';
import { Button } from '@/components/ui/button';
import { Card } from '@/components/ui/card';
import Nav from '@/components/ui/nav.astro';
import ModalCompra from '@/components/ui/venta-modal';
import NombreGalleta from '@/components/compra/NombreGalleta';
---

<Layout title="Venta">
	<Nav />
	<main class="h-full w-full flex">
		<div class="mx-auto my-[6rem] w-1/2 h-full md:w-1/2 sm:w-1/2">
			<Card className="bg-secondary/20">
				<div class="flex flex-row mt-5">
					<div
						class="flex flex-col justify-center items-center w-1/2 mx-5"
					>
						<p
							class="text-[1.5rem] font-bold mb-5 sm:text-[1rem] md:text-[1.4rem] sm:text-center"
						>
							Selecciona la Galleta
						</p>

						<SelectGalleta client:idle />
						<NombreGalleta client:idle />
					</div>

					<div
						class="flex flex-col justify-center items-center w-1/2 mr-10 mt-5 sm:mr-5 md:mr-10"
					>
						<RadioGroupForm client:idle />
					</div>
				</div>

				<div class="flex flex-row w-100% mt-10 mb-5 mx-5">
					<div class="flex w-full">
						<ModalCompra client:idle />
						<Button
							type="button"
							className="w-1/2 ml-2"
							variant={'secondary'}
							client:idle
						>
							Cancelar
						</Button>
					</div>
				</div>
			</Card>
		</div>
	</main>
</Layout>
