---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { Toaster } from '@/components/ui/toaster';
import '@/styles/globals.css';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<Toaster client:only />
	</body>
</html>

<style is:global>
	:root {
		--accent: #ffffff;
		--accent-light: rgb(240, 240, 240);
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 100%,
			#353535 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #FCD4D9;
		margin-top: auto;
		margin-bottom: auto;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>


