---
import Layout from '@/layouts/Layout.astro';
import Nav from '@/components/ui/nav.astro';
import Dash from '@/components/ui/Dash';
---

<Layout title="Home">
	<Nav />
	<main>
		<Dash client:idle />
	</main>
</Layout>
